/* ==========================================================================
   STUDENT-IMAGE / COMPENENTS
   ========================================================================== */

   .student-image {
       left: 0;
       position: fixed;
       top: 0;
       width: 300px;
       z-index: -1;
   }