/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Fira Code', monospace;

    --font-size-content: 1.2rem;

    /// Grosseur des textes
    --font-size-h1: 4rem;
    --font-size-h2: 1.5rem;
}
